.idea
*.lock
.hevi
node_modules
values_*
!charts/flame-hub/values_min.yaml
!charts/flame-hub/values_min_gateway.yaml
Chart.lock
.monokle
*.tgz
!charts/flame-node/flame-node-data-store/charts/*.tgz
*.pem
docs/
.claude
node*.yaml